/*************Default********* */
html {
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 14px; 
}

div {
  display: block;
}

body {
  line-height: 1.15;
  margin: 0;
  padding: 0;
  display: inline;
}

nav {
  width: 100%;
  margin: 0; }

/**************logo************ */

header {
  display: flex; 
}

.logo-container {
  width: 60%;
  padding: 20px;  
}

header label {
  width: 40%; 
  margin: 0; 
  margin-top: 35px; 
  display: flex; 
  justify-content: flex-end;
}

.number-of-products {
  float: right; 
  font-size: 125%; 
  padding: 10px;
  border: 1px solid #d9d9d9; 
  border-radius: 10px; 
}

.shopping-cart-btn {
  margin-left: 8px; 
}
/**************navigation bar********* */

nav label {
  display: none; 
}

ul.topnav {
  list-style-type: none;
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  align-items: left;
  background-color: #2e3192;
  padding: 0 20px;
  margin: 0; }
  ul.topnav li {
    padding: 15px 0; }
    ul.topnav li a {
      color: white;
      text-decoration: none;
      font-family: "Lato", sans-serif;
      font-size: 125%; }

div.dropdownicon {
  display: none; }

ul.topnav li:hover {
  text-decoration: underline white; }

div.slider {
  margin: 0;
  background-color: #eee; }
  div.slider ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  div.slider img {
    width: 100%;
    margin: 0; }

.row {
  width: 100%;
  margin: 0; }

@media screen and (max-width: 1024px) {
  header label {
    display: none; 
  }

  .btn-primary, .btn-primary:focus, .btn-primary:active, .btn-primary:visited, .btn-primary:active:focus {
    background-color: #2e3192; 
  }

  .btn-primary {
    border-color: #2e3192;
  }

  nav label {
    display: flex;
    width: 30%; 
    margin: 0; 
    justify-content: flex-end;
  }

  nav label button {
    background-color: #2e3192;
  }

  nav label input {
    margin: 8px; 
  }

  nav label .shopping-cart-btn {
    margin: 0; 
  }

  ul.topnav {
    display: none; }

  div.navforicon {
    width: 100%;
    margin: 0;
    overflow: hidden;
    display: flex;
    background-color: #2e3192; }
  div.dropdownicon {
    display: block;
    padding: 15px 0;
    font-size: 125%;
    margin: 0; 
    width: 70%; 
  }
    div.dropdownicon a {
      color: white;
      text-decoration: none;
      padding: 15px; }
      div.dropdownicon a:hover {
        background-color: #eee; }

  ul.topnav.responsive {
    display: inline-block;
    margin: 0device-width;
    width: 100%; }

  .row {
    width: 100%;
    margin: 0; } }
div.about {
  margin-top: 5px;
  padding: 10px 0 24px 0; }
  div.about div.logo-header {
    text-align: center;
    width: 100%; }
  div.about img {
    width: 50%; }
div.box {
  text-align: center;
  margin-top: 30px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
  margin: 10px 20px;
  padding: 10px; }
  div.box label {
    font-size: 150%;
    font-weight: 1000; }
div.head-logo img {
  width: 100px;
  height: 100px; }
div.about div.row p {
  margin: 10px 20px; }
div.description {
  background-color: #b3b3b3; }
  div.description ul {
    list-style-type: none;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 0; }
    div.description ul li {
      padding-bottom: 30px; }
      div.description ul li a {
        text-decoration: none;
        color: black;
        font-size: 16px;
        font-weight: 900; }
        div.description ul li a:hover {
          color: #cccccc; }

footer {
  background-color: #333333;
  display: flex;
  color: white;
  font-size: 90%; }
  footer img {
    width: 200px;
    height: auto; }
  footer p {
    margin: 0; }

.logobox, .footer-info {
  padding-top: 30px; }

div.social-media ul {
  margin: 30px 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: center; }
  div.social-media ul li {
    position: relative;
    display: block;
    font-size: 30px;
    height: 60px;
    width: 60px;
    background: #171515;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 15px; }
    div.social-media ul li::before:not(.zaloicon) {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      background: red;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      z-index: -1;
      transform: scale(0, 9); }
    div.social-media ul li:hover {
      color: #2e3192;
      box-shadow: 0 0 15px #2e3192; }
      div.social-media ul li:hover:before {
        filter: blur(3px);
        transform: scale(1.2);
        box-shadow: 0 0 15px #2e3192; }
      div.social-media ul li:hover a {
        color: #2e3192; }
    div.social-media ul li a {
      color: #666;
      text-decoration: none; }
div.social-media img {
  width: 60px; }

.products {
  padding-bottom: 24px; 
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: #2e3192; }

.carousel-indicators li.active {
  background: #2e3192; }

.product-card {
  margin-top: 30px; }

.card-img {
  text-align: center; }
  .card-img img {
    width: 75%;
    height: auto; }

.card-body {
  text-align: center; }

/*# sourceMappingURL=style.css.map */
/* Shopping cart page */

.product-info img {
  height: 5%; 
  width: 10%; 
}

.shopping-cart-table .column {
  padding: 0; 
}

.shopping-cart-table {
  width: 80%; 
  background-color: white;
  padding: 10px; 
  margin-bottom: 10px;
}

.shopping-cart-content {
  display: flex; 
  justify-content: center;
  background-color: #e6e6e6;
  margin: 0; 
  padding: 20px 0 20px 200px;   
  flex-direction: column;
}

.product-price {
  flex-grow: 1; 
  display: flex; 
  justify-content: flex-end;
}

.shopping-cart-description {
  justify-content: flex-end;
}

.product-info {
  border-top: solid 1px #DDD; 
  border-bottom: solid 1px #DDD; 
}

.product-specs ul {
  list-style-type: none;
}

.product-specs ul li{
  margin: 14px 0; 
}

span.rmv-btn {
  color: rgb(13, 92, 182); 
  cursor: pointer;
}

span.rmv-btn:hover {
  text-decoration: underline;
}

span.total-header {
  font-weight: 700;  
  margin-right: 20px; 
}

.cart-quantity {
  display: flex; 
  flex-wrap: nowrap; 
  border: 1px solid rgb(200, 200, 200); 
  border-radius: 3px; 
  width: 98.8px; 
}

*::before, ::after {
  box-sizing: border-box;
}

.quantity-decrease {
  display: inline-block; 
  border-right: 1px solid rgb(200, 200, 200);
  color: rgb(153,153,153);
  padding: 6px 12px;
  cursor: pointer;
}

.quantity-increase {
  border-right: medium none;
  border-left: 1px solid rgb(200, 200, 200);
  display: inline-block; 
  color: rgb(153,153,153);
  padding: 6px 12px;
  cursor: pointer;
}

.quantity-input {
  border: medium none; 
  background: transparent none repeat scroll 0% 0%;
  width: 35px;
  text-align: center;
  font-size: 13px;
  appearance: none;
  margin: 0;
}

.update-cart-disabled {
  pointer-events: none;
  background: rgb(248,248,248) none repeat scroll 0% 0%;
  cursor: none;
}

.cart-checkout {
  width: calc(100% - 925px);  
}

.cart-checkout--inner {
  position: sticky; 
  top: 30px; 
}

.shipping-info {
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  padding: 15px; 
  margin-bottom: 8px; 
  border-radius: 4px; 
}

.heading {
  margin: 0px 0px 15px; 
  display: flex; 
  flex-wrap: nowrap;
  -moz-box-pack: justify;
  justify-content: space-between;
}

.title {
  margin: 0px 0px 10px; 
}

.text {
  display: inline-block;
  font-size: 14px;
}

.name, .phone {
  font-size: 15px;
  display: inline-block;
  font-weight: 500;
  color: rgb(36, 36, 36); 
}

.address {
  margin: 0; 
  color: rgb(120, 120, 120);
  font-size: 13px;
}

.prices {
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  border-radius: 4px; 
}

.price_items {
  list-style: outside none none;
  margin: 0px; 
  padding: 17px 20px;
  border-bottom: 1px solid rgb(244, 244, 244);
}

.price_item {
  display: flex;
  flex-wrap: nowrap;
  -moz-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
}

.price_text {
  font-weight: 300;
  color: rgb(51, 51, 51);
  display: inline-block;
}

.prices_total {
  padding: 17px 20px; 
  display: flex;
  flex-wrap: nowrap;
  -moz-box-pack: justify;
  justify-content: space-between;
  margin: 0px; 
}

.price_value--final {
  color: rgb(254, 56, 52); 
  font-size: 22px; 
  font-weight: 400; 
  text-align: right;
}

.cart_submit {
  background: rgb(255, 66, 78) none repeat scroll 0% 0%;
  color: rgb(255, 255, 255);
  padding: 13px 10px; 
  text-align: center;
  border-radius: 4px;
  border: medium none; 
  width: 100%; 
  display: block;
  margin: 15px 0px; 
  cursor: pointer;
}

.split {
  color: #cccccc;
  padding: 0 15px;
}

.address-info-content {
  padding: 30px 20px;
}

.address-info-heading {
  align-items: center;
  margin-bottom: 10px;
}

.add-address {
  cursor: pointer;
  color: rgb(13, 92, 182); 
  text-decoration: underline;
  font-size: 16px; 
}

.shipping-address-info-title, .address-table:hover {
  background: #fafafa;
  padding: 20px 0px; 
}

.address-columns {
  display: flex; 
  justify-content: center;
}

.address-form {
  width: 70%; 
  display: flex; 
  justify-content: center;
  background: rgb(247, 247, 247) none repeat scroll 0% 0%;
  border: 1px solid rgb(221, 221, 221);
  box-shadow: none;
  border-radius: 0px 0px 3px 3px;
  margin: 0px auto; 
  padding: 10px 15px; 
  transition: max-height 0.5s ease-out 0s;
  max-height: 650px;
  overflow: hidden;
}

.form-container {
  width: 50%; 
  align-items: center;
}

.form-wrapper {
  display: flex;
  justify-content: center; 
}

.abc {
  font-size: 13px;
  margin: 0px 0px 15px;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  color: rgb(51, 51, 51);
}

.form-container label {
  font-weight: 700;
  width: 33.3333%;
}

.form-input input, .form-input textarea {
  width: 66.6666%;
}

.form-input input {
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  border: 1px solid rgb(204, 204, 204); 
  border-radius: 4px;
  height: 34px;
  padding: 6px 12px; 
  line-height: 34px;
  outline: currentColor none medium;
}

.cart-checkout .heading {
  margin: 0px 0px 15px; 
  display: flex; 
  flex-wrap: nowrap; 
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.cart-checkout .text {
  display: inline-block;
  font-size: 14px;
  color: rgb(36, 36, 36);
  font-weight: 500;
}

.cart-checkout .link {
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  color: rgb(13, 92, 182);
}

button, input {
  overflow: visible;  
}

.form-input textarea {
  max-width: 408.383 px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  border: 1px solid rgb(204, 204, 204); 
  border-radius: 4px;
  padding: 6px 12px; 
  line-height: 20px;
  outline: currentColor none medium;
}

textarea {
  overflow: auto; 
}

.button-group {
  width: 66.6666%; 
  display: flex; 
  -moz-box-pack: justify;
  justify-content: space-between;
}

.button-group button {
  padding: 10px 0px;
  font-size: 13px;
  flex: 1 0 40%;
  border-color: rgb(225, 225, 225);
  outline-color: rgb(204, 204, 204); 
  border-radius: 5px;
}

.cancel-button {
  margin-right: 10px;
}

.form-check {
  padding: 0; 
}

.tickbox {
  margin-right: 5px; 
}

.hidden {
  display: none;
}

.checkout-product-quantity {
  border: none;
}

.payment-methods ul {
  list-style-type: none;
}

.radioPayment {
  display: flex;
  justify-content: center;
  padding: 0; 
  width: 40px;
}

.payment-type {
  padding: 0;
}

.payment-method {
  padding: 20px 0;
}

.input-error {
  color: rgb(169,68,66);
  font-size: 11px; 
  margin-top: 5px;
  margin-left: 205px;
}