{% extends "index.html" %}
{% block content %}
<main style="background: rgb(255,255,255);">
    <div class="checkout-container" style="display: flex; width: 1200px; flex-wrap: wrap;">
        <div class="left-column">
            <div class="checkout-order-content">
                <h3>Shipping address</h3>
                <div class="order-content">
                    {% for address in addresses %}
                        {% if address.default == True %}
                            <p class="checkout-name">{{ address.name }}</p>
                            <p class="checkout-email">{{ address.email }}</p>
                            <p class="checkout-address">{{ address.address }}, {{ address.city }}</p>
                        {% endif %}
                    {% endfor %}
                            <a href="/shippinginfo/" class="link">Edit</a>
                </div>
            </div>
            <div class="checkout-order-content">
                <h3>Your order</h3>
                <div class="order-content">
                    {% for item in items %}
                    <div class="row product-info" style="border-top: none;">
                        <img class="product-img" src="{{ item.product.image.url }}">
                        <div class="col-sm-7 product-specs column">
                            <ul>
                                <li class="product-name"><span>{{ item.product.title }}</span></li>
                                <li class="product-quantity"><span>Quantity: {{ item.quantity }}</span></li>
                                <li class="product-total"><span>Total: {{ item.get_total }}</span></li>
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="checkout-order-content">
                <h3>Payment method</h3>
                <div class="order-content">
                    <div class="row payment-method">
                        <div class="radioPayment ">
                            <input class="form-check-input default-radio" type="radio" name="exampleRadios" id="exampleRadios1">
                        </div>
                        <div class="payment-type">
                            <span>Pay with cash</span>
                        </div>
                    </div>
                    <div class="row payment-method">
                        <div class="radioPayment ">
                            <input class="form-check-input default-radio" type="radio" name="exampleRadios" id="exampleRadios1">
                        </div>
                        <div class="payment-type">
                            <span>Pay with visa</span>
                        </div>
                    </div>
                    <div class="row payment-method">
                        <div class="radioPayment">
                            <input class="form-check-input default-radio" type="radio" name="exampleRadios" id="exampleRadios1">
                        </div>
                        <div class="payment-type">
                            <span>Pay with iternet banking</span>
                        </div>
                    </div>
                    <div class="row payment-method">
                        <div class="radioPayment">
                            <input class="form-check-input default-radio" type="radio" name="exampleRadios" id="exampleRadios1">
                        </div>
                        <div class="payment-type">
                            <span>Pay with momo wallet</span>
                        </div>
                    </div>
                    <div class="row payment-method">
                        <div class="radioPayment ">
                            <input class="form-check-input default-radio" type="radio" name="exampleRadios" id="exampleRadios1">
                        </div>
                        <div class="payment-type">
                            <span>Pay with zalo pay </span>
                        </div>
                    </div>
                </div>
            </div>
            <button class="cart_submit" type="button" style="width: 40%;">Make Payment</button>
        </div>
        <div class="right-column">
            <div class="order-summary">
                <div class="checkout-title">
                    <div class="sub-title">
                        <b>Order summary</b>
                    </div>
                </div>
                <div class="cart">
                    <div class="price-summary">
                        <div class="estimated-price">
                            <div class="inner">
                                <div>Estimated price</div>
                                <div>{{ order.get_cart_total }}</div>
                            </div>
                        </div>
                        <div class="total-price">
                            <div>Total price:</div>
                            <div class="price-value"> {{ order.get_cart_total }} </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="cart_submit" type="button">Make Payment</button>
        </div>
    </div>
</main>
{% endblock %}