{% extends "index.html" %}
{% load static %}
{% block content %}
<!-- <h1>{{cartItems}}</h1> -->
<div class="shopping-cart-content">
    <div class="shopping-cart-table">
        <h2>Giỏ hàng của tôi</h2>
        <div class="row shopping-cart-description">
            <span>Price</span>
        </div>
        {% for item in items %}
        <div class="row product-info">
            <img class="product-img" src="{{ item.product.image.url }}">
            <div class="col-sm-7 product-specs column">
                <ul>
                    <li class="product-name"><span>{{ item.product.title }}</span></li>
                    <li class="remove-button"><span class="rmv-btn">Remove</span></li>
                    <li class="product-quantity"><input class="update-cart" type="number" min="1" value="{{ item.quantity }}"></li>
                </ul>
            </div>
            <div class="product-price column">
                <span>${{ item.product.price|floatformat:2 }}</span>
            </div>
        </div>
        {% endfor %}
        <div class="row cart-total">
            <span class="total-header">Total</span>
            <div class="total-price">
                <span>${{ order.get_cart_total|floatformat:2 }}</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}